.preview-button {
    appearance: none;
    background: none;
    border: 1px solid transparent;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1rem;
    margin: 0;
    min-width: 1px;
    padding: 8px 12px;
    transition: box-shadow 100ms linear;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    background-color: #2684ff;
    background-repeat: repeat-x;
    border-color: #2684ff;
    color: #fff;
    font-weight: bold;
}
