.NewDateTime {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.NewDateTime input {
  width: 100%;
  appearance: none;
  background: none;
  border: 1px solid transparent;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  margin: 0;
  min-width: 1px;
  padding: 8px 12px;
  -webkit-transition: box-shadow 100ms linear;
  transition: box-shadow 100ms linear;
  vertical-align: middle;
  white-space: nowrap;
  background-color: white;
  border-color: #c1c7d0;
  color: inherit;
}
.rdt {
  flex-grow: 1;
}

.nowButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 1px solid;
  border-radius: 6px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1rem;
  margin: 0;
  min-width: 1px;
  padding: 8px 12px;
  -webkit-transition: box-shadow 100ms linear;
  transition: box-shadow 100ms linear;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  text-align: center;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-color: #c1c7d0;
  color: #6c798f;
  font-weight: normal;
  margin-left: 8px;
}
