blockquote {
    margin-left: 0px;
}

.rdw-link-model {
    left: -267px;
}

.public-DraftStyleDefault-block {
    margin: 0 !important;
}

.rdw-editor-main {
    min-height: 3rem;
}

.CMSBlockquote {
    background: GhostWhite;
    font-style: italic;
    box-sizing: border-box;
    padding: 1rem;
}
